[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_2C0008000643303459323220-if00
restart_method: command

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    {% set TARGET_TEMP = printer.heater_bed.target %}
    M140 S0
    _BED_MESH_CALIBRATE {rawparams}
    M140 S{TARGET_TEMP}

[gcode_macro QUAD_GANTRY_LEVEL] # safer and faster QGL for Cartographer
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    G28 # or use a conditional or safe homing
    _QUAD_GANTRY_LEVEL horizontal_move_z=10 retries=0 retry_tolerance=1.000
    _QUAD_GANTRY_LEVEL horizontal_move_z=3
    G28 Z
    
[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 20 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

[safe_z_home]:
home_xy_position: 150, 150
speed: 100
z_hop: 10
    
[bed_mesh]
zero_reference_position: 150, 150 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 50, 50
mesh_max: 250, 250
probe_count: 30, 30
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 110

#[adxl345]
#cs_pin: cartographer:PA3
#spi_bus: spi1

[lis2dw]
cs_pin: cartographer:PA3
spi_bus: spi1

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    <blank>, <blank>, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.